*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f5f7fb;
    color:#222;
}

header{
    background:linear-gradient(135deg,#0F62FE,#2563EB);
    color:white;
    text-align:center;
    padding:35px 20px;
}

header h1{
    font-size:32px;
    margin-bottom:10px;
}

header p{
    font-size:16px;
    opacity:.95;
}

.search-box{
    max-width:700px;
    margin:25px auto;
    padding:0 15px;
}

#searchInput{
    width:100%;
    padding:16px;
    border:none;
    border-radius:14px;
    font-size:17px;
    outline:none;
    box-shadow:0 5px 18px rgba(0,0,0,.12);
}

#testList{
    max-width:900px;
    margin:auto;
    padding:15px;
}

.card{
    background:white;
    border-radius:16px;
    padding:18px;
    margin-bottom:18px;
    box-shadow:0 5px 18px rgba(0,0,0,.08);
    transition:.25s;
}

.card:hover{
    transform:translateY(-3px);
}

.card h2{
    color:#0F62FE;
    margin-bottom:10px;
}

.price{
    margin-top:12px;
    color:#16A34A;
    font-size:24px;
    font-weight:bold;
}

footer{
    text-align:center;
    padding:25px;
    color:#666;
}
.navbar{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    background:#ffffff;
    padding:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.08);
}

.navbar a{
    text-decoration:none;
    color:#0F62FE;
    font-weight:bold;
    padding:8px 12px;
    border-radius:8px;
}

.navbar a:hover{
    background:#0F62FE;
    color:#fff;
}
